.gutter {
  background-color: white;
  background-clip: content-box;
}

.gutter.gutter-horizontal {
  width: 2px;
  height: 100%;
  cursor: col-resize;
}

.gutter.gutter-vertical {
  height: 2px;
  width: 100%;
  cursor: row-resize;
}

html.dark .gutter {
  background-color: #23155b;
}
